<div class="dashboard-container">
  <lib-navbar></lib-navbar>

  <section class="welcome-section">
    <div class="welcome-content">
      <h1>Welcome Back </h1>
      <p>
        Manage your uploads, monitor reports, and keep track of your activities
        from one place.
      </p>

      <div class="action-buttons">
        <button class="primary-btn" routerLink="/upload">Upload Files</button>
        <button class="secondary-btn" routerLink="/reports">View Reports</button>
      </div>
    </div>
  </section>
  <div class="uploaded-files-section">

  <h2>Uploaded Files</h2>

  <div class="file-container">

    @for(file of documents; track file.documentId) {

      <div class="file-card">

        

        <h3>{{file.fileName}}</h3>

        <p>
          Uploaded:
          {{file.updatedAtUtc}}
        </p>

        <button (click)="openFile(file)">
          Edit File
        </button>

      </div>

    }

  </div>

</div>
  <lib-footer></lib-footer>
</div>