


.upload-page {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.upload-card {
  width: 100%;
  max-width: 520px;
  background: #fff;
  border-radius: 20px;
  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.08),
    0 5px 15px rgba(0, 0, 0, 0.05);

  text-align: center;

  h1 {
    margin: 0;
    color: #1e293b;
    font-size: 2rem;
  }

  .subtitle {
    color: #64748b;
    margin: 10px 0 30px;
  }
}

.upload-area {
  border: 2px dashed #3b82f6;
  border-radius: 16px;
  padding: 45px 20px;
  background: #f8fbff;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    background: #eef6ff;
    border-color: #2563eb;
  }

  h3 {
    margin: 12px 0;
    color: #334155;
    font-weight: 600;
  }

  span {
    display: block;
    margin: 10px 0;
    color: #94a3b8;
  }

  

  .browse-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 12px 28px;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background: #1d4ed8;
    }
  }

  .file-types {
    margin-top: 20px;
    color: #94a3b8;
    font-size: .9rem;
  }
}

.selected-file {
  margin-top: 24px;
  padding: 16px 20px;
  background: #eff6ff;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    display: block;
    color: #1e293b;
  }

  small {
    color: #64748b;
  }

  .remove-btn {
    border: none;
    background: #ef4444;
    color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: #dc2626;
    }
  }
}

.upload-btn {
  margin-top: 28px;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;

  &:hover:not(:disabled) {
    background: #1d4ed8;
  }

  &:disabled {
    background: #cbd5e1;
    cursor: not-allowed;
  }
}