<lib-navbar></lib-navbar>
<div class="upload-page">
    <div class="upload-card">

        <h1>Upload File</h1>
        <p class="subtitle">
            Upload your document for processing
        </p>

        <div class="upload-area">
            <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" accept=".xls,.xlsx" />

            <label for="fileInput" class="browse-btn">
                Browse Files
            </label>

            <p class="file-types">
                DOCX,xls,xlsx Max 25 MB
            </p>
        </div>
        @if(selectedFile){
        <div class="selected-file">
            <div>
                <strong>{{ selectedFile.name }}</strong>
                <small>{{ (selectedFile.size / 1024 / 1024).toFixed(2) }} MB</small>
            </div>

            <button class="remove-btn" (click)="removeFile()">
                ✕
            </button>
        </div>
        }


        <button class="upload-btn" [disabled]="!selectedFile" (click)="upload()">
            Upload File
        </button>

    </div>
</div>
<div class="grid-container">
    @if(gridData().length>0){
    <kendo-grid [kendoGridBinding]="gridData()" [kendoGridInCellEditing]="createFormGroup" [pageSize]="20" [pageable]="true" (cellClose)="cellCloseHandler($event)">
        @for(group of columnGroups; track $index){
        <kendo-grid-column-group [title]="group.title" [headerStyle]="{'background-color': group.groupColor,'color': 'white'}">
            @for (col of group.columns; track $index) {
            <kendo-grid-column [headerStyle]="{ 'background-color': group.columnColor ,'color':'black'}" [field]="col" [title]="col">
                <ng-template kendoGridEditTemplate let-formGroup="formGroup">
                    @if(col == 'Verified' || col == 'Approved' || col == 'Reviewed'){
                        <kendo-dropdownlist [data]="yesNoOptions"  [formControl]="formGroup.get(col)" style="background-color: darkgray;">
                        </kendo-dropdownlist>
                    }@else{
                        <input kendoTextBox [formControl]="formGroup.get(col)"/>
                    }
                </ng-template>
            </kendo-grid-column>
            }
        </kendo-grid-column-group>
        }
    </kendo-grid>
    <button id="savebtn" type="submit" (click)="saveData()">Save</button>
    }
    
</div>

<lib-footer></lib-footer>