<lib-navbar></lib-navbar>
<div class="upload-page">
    <div class="upload-card">

        <h1>Upload File</h1>
        <p class="subtitle">
            Upload your document for processing
        </p>

        <div class="upload-area">
            <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" accept=".xls,.xlsx" />

            <label for="fileInput" class="browse-btn">
                Browse Files
            </label>

            <p class="file-types">
                DOCX,xls,xlsx Max 25 MB
            </p>
        </div>
        @if(selectedFile){
        <div class="selected-file">
            <div>
                <strong>{{ selectedFile.name }}</strong>
                <small>{{ (selectedFile.size / 1024 / 1024).toFixed(2) }} MB</small>
            </div>

            <button class="remove-btn" (click)="removeFile()">
                ✕
            </button>
        </div>
        }


        <button class="upload-btn" [disabled]="!selectedFile" (click)="upload()">
            Upload File
        </button>

    </div>
</div>
<div class="grid-container">
    @if(gridData().length>0){
    <kendo-grid [data]="gridData()">
        @for (data of columns(); track $index) {
        <kendo-grid-column [headerStyle]="{ 'background-color': '#666' ,'color':'white'}" field="{{ data }}"
            title="{{ data}}">
        </kendo-grid-column>
        }
    </kendo-grid>
    }
</div>


<lib-footer></lib-footer>